# SMB credentials file template
# Copy to /etc/samba/credentials-mediadrive
# Then: sudo chmod 600 /etc/samba/credentials-mediadrive && sudo chown root:root /etc/samba/credentials-mediadrive

username=mediauser
password=YOUR_PASSWORD_HERE
